body {
	background-color: #00ff00;
}

h1{
	color: #ff00ff;
	text-align: center;
}
h2{
	color: #009900;
	font-size: 12px;
	text-align: center;
	vertical-align: -40px;
}
p {
	color: #009900;
	text-align: right;
	font: Arial;
}
a{
	color: #009900;
	text-align: right;
	font: Arial;
}
.egg {
	transform: rotate(270deg);
	width: 50%;
	height: auto;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
}
